body{
font-family:Arial;
text-align:center;
background:#f2f2f2;
}

#productContainer{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.product{
background:white;
padding:15px;
margin:10px;
width:200px;
border-radius:8px;
}

button{
background:blue;
color:white;
border:none;
padding:8px;
cursor:pointer;
}

button:hover{
background:darkblue;
}

/* Responsive */
@media(max-width:768px){
.product{
width:90%;
}
}