body{
    font-family: Arial;
    text-align:center;
    background:#f2f2f2;
}

.carousel img{
    margin:10px;
    border-radius:10px;
}

button{
    padding:10px 20px;
    margin:5px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:darkblue;
}

/* RESPONSIVE DESIGN */
@media (max-width:768px){
    img{
        width:90%;
    }

    h1{
        font-size:22px;
    }
}